<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Hogwarts Student Database</h1>
  </header>

  <nav>
    <ul>
      <li><a href="/students">All Students</a></li>
      <li><a href="/student/create">Create a new Student</a></li>
    </ul>
  </nav>

  <%= yield %>

  <footer>
    &copy; 2018 Three Dafties inc.
  </footer>
</body>
</html>